



header {
	position: relative;
	/* background-color: #222; */
	color: white;
	height: 200px;
	padding: 20px;
}

.home-title {
	position: absolute;
	font-size: 3em;
	left: 50px;
	margin: 75px auto 0;
}

.home-nav {
	margin: 0;
}



