



.slide-view {
	position: relative;
	background: linear-gradient( to top, #5e5e5e 100%, transparent );
	/* background: url( /public/img/test5.jpg ) no-repeat;
	background-blend-mode: luminosity;
	background-position: center 50%; */
	height: 100%;
	width: 100%;
}

.slide-view img {
	position: absolute;
	z-index: 1;
	background: black;
	color: #bfbfbf;
	top: 0;
	right: -50%;
	left: -50%;
	bottom: 0;
	max-height: 175%;
	min-height: 100%;
	max-width: 125%;
	min-width: 100%;
	/* width: 100%; */
	margin: auto;
}

.slide-view img:nth-child( 2 ) {
	z-index: 2;
	animation: trans 2s linear both;
}


/* Slide transition animations */
@keyframes trans {
	from { opacity: 1; }
	to { opacity: 0; }
}



