



/* Temporary style for About page images only */
.slide-empty {
	background: linear-gradient( to top, #5e5e5e 100%, transparent );
	/* background: url( /public/img/test5.jpg ) no-repeat;
	background-blend-mode: luminosity;
	background-position: center 50%; */
}


