



footer {
	background: #0a0a0a;
	color: #6d6d6d;
	border-radius: 4px;
	box-sizing: border-box;
	font-size: large;
	text-align: center;
	height: 150px;
	width: 70%;
	padding: 40px;
	margin: 50px auto 0;
}



