



form {
	position: relative;
	background: #313131;
	width: 600px;
	padding: 25px;
	margin: 0 auto;
}

.contact-redirect {
	position: absolute;
	background: #525252;
	max-width: 400px;
	top: 20%;
	left: 0;
	right: 0;
	padding: 40px 25px 50px;
	margin: 0 auto;
	box-shadow: 0 5px 25px 5px #00000060;
}

.contact-redirect p:first-child {
	color: #b9b9b9;
	font-size: 1em;
	line-height: 1.5;
	margin: 0 0 40px;
}

.contact-redirect p {
	color: #d0d0d0;
	font-size: 1.125em;
}

.contact-form {
	color: #e0e0e0;
	font-size: 2em;
	font-weight: normal;
	margin: 0 0 12px;
}

.contact-address {
	color: #a6a5a9;
	font-size: 1em;
	font-weight: normal;
	margin: 0 0 15px;
}

label {
	color: #a0a0a0;
	font-size: 1.25em;
}

input, textarea {
	background: black;
	border: 2px solid #101010;
	color: white;
	box-sizing: border-box;
	outline: none;
	font-size: small;
	width: 90%;
	padding: 10px;
}

input::placeholder, textarea::placeholder {
	color: #787981;
}

input {
	height: 50px;
	margin: 10px 0 15px;
}

textarea {
	min-height: 200px;
	resize: vertical;
	margin: 10px 0;
}

label p {
	position: absolute;
	color: #8a8a8a;
	font-size: 0.75em;
	right: 0;
	left: 0;
	margin: -15px 0 0;
}

.contact-submit {
	background: #272727;
	border: 0;
	color: #c7c7c7;
	cursor: pointer;
	outline: none;
	font-size: 1.25em;
	width: 150px;
	padding: 15px;
	margin: 20px 0 0;
}

.contact-submit:disabled{
	background: #444444;
	color: #6b6b6d;
}



