



.gallery-frame {
	position: relative;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;
	left: -5%;
	width: 110%;
}

.gallery-thumbnail {
	background: #444444;
	border: 4px solid white;
	border-radius: 2px;
	flex-basis: 175px;
	height: 175px;
	max-width: 175px;
	margin: 0 15px 30px;
	transition: 250ms;
}

.gallery-thumbnail:hover {
	transform: scale( 1.05, 1.05 );
}



