



.gallery-frame {
	position: relative;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;
	left: -5%;
	width: 110%;
}

.gallery-image {
	position: absolute;
	cursor: zoom-in;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	max-height: 100vh;
	max-width: 100vw;
	margin: auto;
}

.gallery-redirect {
	position: fixed;
	z-index: 1000;
	/* background: #0e0e0e; */
	border-radius: 2px;
	color: #8e8e8e;
	font-size: 1.25em;
	box-sizing: border-box;
	top: 16%;
	right: 0;
	left: 0;
	/* max-height: 200px; */
	/* max-width: 400px; */
	padding: 15px;
	margin: auto;
	animation: appear 1s 500ms backwards, subdue 1s 5s forwards;
}


@keyframes appear {
	from { opacity: 0; }
	to { opacity: 1; }
}

@keyframes subdue {
	from { opacity: 1; }
	to { opacity: 0; }
}



