



.about-section {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	overflow: hidden;
	margin: 0 0 100px;
}

.about-border {
	position: absolute;
	z-index: 4;
	background: transparent;
	height: 100%;
	width: 100%;
	margin: 0 auto;
	box-shadow: inset 0 0 20px 12px black;
}

.about-frame {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

#about-portrait {
	z-index: 3;
}

#about-biography {
	z-index: 2;
}

.about-frame h1 {
	position: absolute;
	z-index: 5;
	color: #f0f0f0;
	text-shadow: 0 5px 10px #3e3e3e;
	font-size: 6em;
	width: 100%;
	margin: 40px auto;
}

.about-image {
	position: relative;
	height: 750px;
	width: 100%;
}

.about-image img {
	position: absolute;
	z-index: 1;
	/* filter: grayscale( 100% ); */
	top: 0;
	right: -50%;
	left: -50%;
	bottom: 0;
	max-height: 120%;
	margin: auto;
}

.about-image div {
	position: absolute;
	right: -50%;
	left: -50%;
	height: 100%;
	width: 100vw;
	margin: auto;
}

.about-upper {
	background: #a7a7a7;
}

.about-distort {
	position: absolute;
	z-index: 1;
	background: red;
	/* background-image: linear-gradient( to bottom, #a7a7a7, transparent ); */
	top: 700px;
	height: 100px;
	width: 100%;
}

/* .about-center {
	background: #7e7e7e;
} */

.about-text {
	position: absolute;
	z-index: 3;
	overflow: hidden;
	height: 100%;
	width: 100%;
}

.about-text p {
	display: inline-block;
	background: #00000080;
	/* Maintaining this border styling technique for now */
	/* background-image:
		linear-gradient( to right, #bbd2e0, #cbe7be ),
		linear-gradient( to bottom, #72bf57, #74bf56 ),
		linear-gradient( to left, #cce9bb, #bbd2e0 ),
		linear-gradient( to top, #5490b8, #508ab0 );
	background-origin: border-box;
	background-size: 100% 50px, 50px 100%, 100% 50px, 50px 100%;
	background-position: top left, top right, bottom right, bottom left;
	background-repeat: no-repeat; */
	box-shadow: 0 0 100px 75px #00000080;
	text-align: left;
	text-indent: 50px;
	min-width: -webkit-fill-available;
	margin: 100px;
}

.about-lower {
	background: #5e5e5e;
}


