



.about-page > section {
	position: relative;
	display: flex;
	/* Image background blend testing for development */
	/* background:
		url( /public/img/test1.jpg ) no-repeat,
		url( /public/img/test5.jpg ) no-repeat;
	background-blend-mode: luminosity;
	background-position: 0 0, 0 125%;
	mix-blend-mode: multiply; */
	flex-wrap: wrap;
	overflow: hidden;
	height: 1600px;
	margin: 0 0 100px;
}

.about-border {
	position: absolute;
	z-index: 6;
	background: transparent;
	pointer-events: none;
	height: 100%;
	width: 100%;
	margin: 0 auto;
	box-shadow: inset 0 0 20px 12px black;
}

.about-frame {
	position: absolute;
	display: flex;
	flex-wrap: wrap;
	/* height: 52.5%; */
	height: 55%;
	width: 100%;
}

#about-portrait {
	z-index: 2;
	top: 0;
}

#about-background {
	z-index: 3;
	bottom: 0;
	/* Blends background images where they converge */
	mask-image: linear-gradient( transparent, #000000 15% );
	-webkit-mask-image: linear-gradient( transparent, #000000 15% );
}

.about-frame h1 {
	position: absolute;
	z-index: 5;
	color: #ffffff;
	text-shadow: 0 5px 5px #1f1f1f;
	font-size: 6em;
	width: 100%;
	margin: 40px auto;
}

.about-image {
	position: relative;
	width: 100%;
}

.about-image img {
	position: absolute;
	filter: grayscale( 100% ); /* Temporary */
	top: 0;
	right: -50%;
	left: -50%;
	bottom: 0;
	/* max-height: 120%; */
	min-height: 100%;
	/* max-width: 100%; */
	min-width: 100%;
	margin: auto;
}

.about-image div {
	position: absolute;
	right: -50%;
	left: -50%;
	height: 100%;
	width: 100vw;
	margin: auto;
}

.about-upper {
	background: linear-gradient( to bottom, #a7a7a7 90%, transparent );
	/* background: url( /public/img/test1.jpg ) no-repeat;
	background-blend-mode: luminosity;
	background-position: center 50%; */
}

.about-distort {
	position: absolute;
	z-index: 4;
	background: linear-gradient( to bottom, transparent, #808080, transparent );
	top: 40%;
	bottom: 0;
	height: 20%;
	width: 100%;
}

/* .about-center {
	background: #7e7e7e;
} */

.about-text {
	position: absolute;
	z-index: 5;
	top: 5%;
	width: 100%;
}

.about-text p {
	display: inline-block;
	background: #00000099;
	/* Maintaining this border styling technique for now */
	/* background-image:
		linear-gradient( to right, #bbd2e0, #cbe7be ),
		linear-gradient( to bottom, #72bf57, #74bf56 ),
		linear-gradient( to left, #cce9bb, #bbd2e0 ),
		linear-gradient( to top, #5490b8, #508ab0 );
	background-origin: border-box;
	background-size: 100% 50px, 50px 100%, 100% 50px, 50px 100%;
	background-position: top left, top right, bottom right, bottom left;
	background-repeat: no-repeat; */
	box-shadow: 0 0 100px 75px #00000099;
	text-shadow: 2px 2px 2px #1f1f1f;
	text-align: left;
	text-indent: 50px;
	max-height: 75%;
	width: 80%;
	margin: 10% 0;
}

.about-lower {
	background: linear-gradient( to top, #5e5e5e 100%, transparent );
	/* background: url( /public/img/test5.jpg ) no-repeat;
	background-blend-mode: luminosity;
	background-position: center 50%; */
}


