



.frame-area {
	position: relative;
	background: #0e0e0e;
	/* border: 4px solid white; */
	/* border-radius: 2px; */
	flex-basis: 225px;
	height: 200px;
	max-width: 225px;
	margin: 0 15px 30px;
	transition: 250ms;
}

.frame-area:hover {
	transform: scale( 1.05, 1.05 );
}

.frame-elastic {
	position: relative;
	background: black;
	/* background: #0e0e0e; */
	height: inherit;
	width: 100%;
	transition: height 750ms;
}

.frame-elastic:hover {
	height: 325px;
}

.frame-shadow {
	position: absolute;
	z-index: 3;
	background: transparent;
	pointer-events: none;
	right: 1px;
	left: 1px;
	height: 99%;
	width: 99%;
	box-shadow: 0 0 20px 12px black;
}

.frame-image {
	position: relative;
	background: black;
	overflow: hidden;
	height: 200px;
}

.frame-border {
	position: absolute;
	z-index: 2;
	background: transparent;
	height: 100%;
	width: 100%;
	margin: 0 auto;
	box-shadow: inset 0 0 20px 12px black;
}

.frame-thumbnail {
	position: absolute;
	z-index: 1;
	background: black;
	top: 0;
	right: -50%;
	left: -50%;
	bottom: 0;
	max-height: 125%;
	min-width: 100%;
	margin: auto;
}



