



.image-box {
	position: relative;
	background: #444444;
	border: 4px solid white;
	border-radius: 2px;
	flex-basis: 225px;
	height: 200px;
	max-width: 225px;
	margin: 0 15px 30px;
	transition: 250ms;
}

.image-box-base:hover {
	transform: scale( 1.05, 1.05 );
}

.image-box-grow {
	z-index: 1;
	transform: scale( 1.05, 1.05 );
}

.image-frame {
	position: relative;
	background: inherit;
	overflow: hidden;
	height: 200px;
}

.image-thumbnail {
	position: absolute;
	filter: grayscale( 100% );
	top: 0;
	right: -50%;
	left: -50%;
	bottom: 0;
	max-height: 120%;
	margin: auto;
}

.image-panel {
	position: absolute;
	background: inherit;
	border-right: 4px solid white;
	border-left: 4px solid white;
	border-bottom: 4px solid white;
	border-radius: 2px;
	text-align: left;
	top: 200px;
	left: -4px;
	height: 150px;
	width: 100%;
}

.image-panel-view {
	animation: view 500ms ease-out;
}

.image-panel-exit {
	animation: exit 500ms ease-in;
}

.image-title {
	color: #d0d0d0;
	font-size: 1.25em;
	font-weight: normal;
	text-align: center;
	margin: 10px 0 0;
	animation: show 1s;
}

.image-category {
	color: #696969;
	font-size: 0.9em;
	font-weight: normal;
	text-align: center;
	margin: 5px 10px;
	animation: show 2s;
}

.image-summary {
	color: #8e8e8e;
	font-size: 0.75em;
	margin: 10px;
	animation: show 2s;
}

.image-panel span {
	position: absolute;
	display: inline-block;
	color: #b0b0b0;
	font-size: 0.8em;
	bottom: 15px;
	animation: show 2s;
}

.image-price {
	text-align: left;
	left: 10px;
}

.image-date {
	text-align: right;
	right: 10px;
}


@keyframes view {
	from { height: 0; }
	to { height: 150px }
}

@keyframes exit {
	from { height: 150px }
	to { height: 0; }
}

@keyframes show {
	from { opacity: 0 }
	to { opacity: 100 }
}



