



body {
	background: black;
	font-family: sans-serif;
	padding: 0;
	margin: 0;
}

section {
	text-align: center;
	width: 70%;
	margin: 0 auto 75px;
}

.page {
	width: 100%;
}

header {
	color: white;
	height: 200px;
	padding: 20px 0;
}

a {
	text-decoration: unset;
	color: unset;
}

p {
	color: white;
	margin: 0;
}

noscript {
	display: block;
	color: #c5a3f7;
	font-size: x-large;
	text-align: center;
	margin: 125px;
}



