



body {
	background: black;
	font-family: sans-serif;
	padding: 0;
	margin: 0;
}

#root {
	text-align: center;
	max-width: 850px;
	width: 70%;
	margin: 0 auto;
}

a {
	text-decoration: unset;
	color: unset;
}

p {
	color: white;
	margin: 0;
}

noscript {
	position: absolute;
	color: #a4a0ab;
	font-size: 1.125em;
	text-align: center;
	top: 150px;
	right: 0;
	left: 0;
	margin: 20px auto;
}



